<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxt.mapper.PolistUserMapper" >
  <resultMap id="BaseResultMap" type="com.jxt.domain.PolistUser" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="SOLE" property="sole" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="V2" property="v2" jdbcType="VARCHAR" />
    <result column="V3" property="v3" jdbcType="VARCHAR" />
    <result column="REGION" property="region" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_NAME, PASSWORD, SOLE, STATE, TYPE, V2, V3, REGION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jxt.domain.PolistUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from POLIST_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from POLIST_USER-->
    <!--where ID = #{id,jdbcType=DECIMAL}-->
  <!--</select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from POLIST_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.jxt.domain.PolistUserExample" >
    delete from POLIST_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jxt.domain.PolistUser" >
    insert into POLIST_USER (ID, USER_NAME, PASSWORD,
      SOLE, STATE, TYPE,
      V2, V3, REGION)
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{sole,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{v2,jdbcType=VARCHAR}, #{v3,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxt.domain.PolistUser" >
    insert into POLIST_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="sole != null" >
        SOLE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="v2 != null" >
        V2,
      </if>
      <if test="v3 != null" >
        V3,
      </if>
      <if test="region != null" >
        REGION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sole != null" >
        #{sole,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="v2 != null" >
        #{v2,jdbcType=VARCHAR},
      </if>
      <if test="v3 != null" >
        #{v3,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jxt.domain.PolistUserExample" resultType="java.lang.Integer" >
    select count(*) from POLIST_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update POLIST_USER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.sole != null" >
        SOLE = #{record.sole,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.v2 != null" >
        V2 = #{record.v2,jdbcType=VARCHAR},
      </if>
      <if test="record.v3 != null" >
        V3 = #{record.v3,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        REGION = #{record.region,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update POLIST_USER
    set ID = #{record.id,jdbcType=DECIMAL},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      SOLE = #{record.sole,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      V2 = #{record.v2,jdbcType=VARCHAR},
      V3 = #{record.v3,jdbcType=VARCHAR},
      REGION = #{record.region,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxt.domain.PolistUser" >
    update POLIST_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sole != null" >
        SOLE = #{sole,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="v2 != null" >
        V2 = #{v2,jdbcType=VARCHAR},
      </if>
      <if test="v3 != null" >
        V3 = #{v3,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        REGION = #{region,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxt.domain.PolistUser" >
    update POLIST_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SOLE = #{sole,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      V2 = #{v2,jdbcType=VARCHAR},
      V3 = #{v3,jdbcType=VARCHAR},
      REGION = #{region,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>